aclocal.m4
autom4te.cache
config.log
configure
*~
*.o
tags
libsamba-gtk.so.*
gtksamba.pc
gwcrontab
gwsam
gwsvcctl
Makefile.settings
config.status
*.pyc
config.h
config.h.in
*.po
*.so
man/*.1
python/sambagtk.c
