[Desktop Entry]
Name=DCE/RPC Endpoint Dumper
Comment=Show DCE/RPC endpoint mapper
Exec=gepdump
#Icon=media-player-48.png
Type=Application
Terminal=false
Categories=GNOME;GTK;RemoteAccess;Profiling;Utility;Network;
StartupNotify=true
