[Desktop Entry]
Name=Registry Editor
Comment=Edit Windows-Style Registry files
Exec=gregedit
#Icon=media-player-48.png
Terminal=false
Type=Application
Categories=GNOME;GTK;RemoteAccess;Utility;Network;
StartupNotify=true
