[Desktop Entry]
Name=Windows Job Scheduler
Comment=View and plan jobs on remote Windows hosts
Exec=gwcrontab
Terminal=false
Type=Application
Categories=GNOME;GTK;RemoteAccess;Utility;Network;
StartupNotify=true
