[Desktop Entry]
Name=Control Windows Services
Comment=Stop, start and view status of services on a remote Windows host
Exec=gwsvcctl
Terminal=false
Type=Application
Categories=GNOME;GTK;RemoteAccess;System;Network;Utility;
StartupNotify=true
